# dependencies
node_modules/
/.pnp
.pnp.*

# testing
coverage/

# next.js
.next/
out/

# expo / react native
.expo/
ios/
android/
*.orig.*
web-build/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# eas
eas-build-local-nodejs/
